###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

tests/Integration/StaticResources/* linguist-vendored

text eol=crlf
